
/*block du texte de présentation */
#textPresentation{
  display: inline-block;
  align-items: flex-start;
  width: 100%;
  padding-top: 6%;

}

/*block regroupant les coordonnées et le texte de présentation */
#block_en_tete{
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  width: 100%;
}

/*coordonnées */
#coordonnees{
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px;
  height: 300px;
}

.bloc_Large
{
	width: 100%;
	margin: auto;
	background-color: white;
	height:auto;
	-webkit-box-shadow: 7px 9px 5px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 9px 5px -6px rgba(0,0,0,0.75);
	box-shadow: 7px 9px 5px -6px rgba(0,0,0,0.75);
	border: 1px solid #dfdede;
  margin-top: 50px;
	border-radius: 15px;
	overflow: hidden;
}

.alignText{

  white-space: normal;
	text-align: justify;
}

 .margeCard{
  padding-top: 10px;
 }

/* pas de soulignement sur les liens */
.noLink{
    text-decoration: none;
}

/*menu boutons : accueil... */
.coord_menu{
  float: right;
}

/* image fond en-tête*/
.fond_header{
  width: 100%;
  height: 150px;
}

/*photo cv*/
.avatar{
  margin-left: 5%;
  margin-bottom: 5%;
  width: 100px;
  height: 100px;
  background-image: url(../img/photo_moi.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.colonne{
  flex-wrap: nowrap;
  height:auto;
}

.media{
  white-space: normal;
}
.lineHeight{
  height: 16px;

}
